<div class="row article-container">
    <div class="col-8">

        <div *ngIf="!editMode else edit" class="article">
            <div>
                Verzapft vom {{article.autor.name}} am <span class="text-muted">{{article.datum | date:'d. MMM yy'}}</span>
            </div>
            <hr>
            <div class="row">
                <div class="col-8">
                    <p>
                        {{article.inhalt}}
                    </p>
                </div>
                <div class="col-4">
                    <!-- images -->
                </div>
            </div>
        </div>

        <ng-template #edit>
            <div class="article">
                <div>
                    Verzapft vom {{article.autor.name}} am <span class="text-muted">{{article.datum | date:'d. MMM yy'}}</span>
                </div>
                <hr>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label for="titel">Dr titu: </label>
                            <input id="titel" class="form-control" [(ngModel)]="article.titel">
                        </div>
                        <label for="inhalt">Din chabis</label>
                        <textarea id="inhalt" class="form-control">
                            {{article.inhalt}}
                        </textarea>
                    </div>
                </div>
            </div>
        </ng-template>

        <footer>
            <!-- the like thing -->
        </footer>
    </div>
    <!-- comments -->
    <div class="col-4">
        <!-- button to add comment -->
        <ng-container *ngFor="let comment of article.kommentare">
            <!-- kommentar -->
        </ng-container>
    </div>
</div>
<!-- here or somewhere else, modal to write comments in -->
