<div class="row" *ngIf="article else loading">
    <div class="col row article p-2">
        <div class="w-100">
            <div *ngIf="!editMode else edit" class="article">
                <div>
                    <h3>{{article.titel}}</h3>
                    <p class="article-content pt-4">
                        {{article.inhalt}}
                    </p>
                </div>
            </div>

            <ng-template #edit>
                <div class="article">
                    <div>
                        Neue biitrag erstelle
                        <p class="text-muted avis">
                            Dànk dra, mir lehned jeglichi haftig ab im fall das cybergmobbt wirsch oder suesch irgendwas. Poschte uf eigeni gfahr!<br>
                            Soziali Medie hend en potenzielli Suchtgfahr und choend dis laebe starch beiflusse, also obacht!
                        </p>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="titel">Dr titu: </label>
                                <input id="titel" class="form-control" [(ngModel)]="article.titel">
                            </div>
                            <label for="inhalt">Din chabis</label>
                            <textarea id="inhalt" class="form-control">
                                {{article.inhalt}}
                            </textarea>
                        </div>
                    </div>

                    <button class="btn btn-outline-primary" (click)="saveArticle()"><i class="fa fa-save mr-1"></i>Isch guet</button>
                </div>
            </ng-template>

            <footer *ngIf="!editMode" class="row">
                <div class="col corrected">
                    Verzapft vom <span class="text-muted">{{article.autor.name}}</span> am <span class="text-muted">{{article.datum | date:'d. MMM yy'}}</span>
                </div>
                <div class="col-auto">
                    <a class="clickable" title="findi laess" [style.color]="liked ? '#0066cc' : 'black'"><i class="fa fa-thumbs-up mr-1" [style.color]=""></i> {{article.likes}}</a>
                    <a class="clickable" title="findi chabis" [style.color]="liked ? 'brown' : 'black'"><i class="fa fa-poo mr-1" [style.color]=""></i> {{article.dislikes}}</a>
                    <a class="clickable" title="Din senf dezuegeh"><i class="fa fa-plus-circle mr-1"></i></a>
                  </div>
            </footer>
        </div>
    </div>
    <aside *ngIf="article.kommentare" class="col-4 comments my-4">
        <button class="btn btn-block btn-outline-secondary my-2">
            <i class="fa fa-plus-circle"></i>
             Din senf dezuegeh
        </button>
        <ng-container *ngFor="let comment of article.kommentare">
            <app-comment [comment]="comment"></app-comment>
        </ng-container>
    </aside>    
</div>

<ng-template #loading>
    <div>
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</ng-template>

