<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a  class="nav-link text-light" [routerLink]='["/authentication/profile"]' title="Manage">Sali {{ userName | async }}</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-light" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Uuslogge">Uuslogge</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
        <a class="nav-link text-light" [routerLink]='["/authentication/register"]'>Regischtriere</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" [routerLink]='["/authentication/login"]'>Iilogge</a>
    </li>
</ul>
