<div class="row container-fluid">
  <article class="col-8">
    <!-- filter/sortierig/biitrag erstelle -->
    <div class="container row m-2 p-2 helper-bar">
      <div class="col-8">
        <label class="text-muted text-small mr-2">Sortiere nach</label>
        <div class="abegumper">
          <span><i class="fa mr-1" [ngClass]="getIconClassForSortingMethod(currentSortingMethod)"></i>{{currentSortingMethod}}</span>
          <div class="abegumper-content">
            <div class="abegumper-item" (click)="selectSortingMethod(SortingMethod.HOTTEST)">
              <a><i class="fa fa-fire"></i> Laessigkeit</a>
            </div>
            <div class="abegumper-item" (click)="selectSortingMethod(SortingMethod.SHITTIEST)">
              <a><i class="fa fa-poo"></i> Chabis</a>
            </div>
            <div class="abegumper-item" (click)="selectSortingMethod(SortingMethod.LATEST)">
              <a><i class="fa fa-sun"></i> Neus zueg</a>
            </div>
          </div>
        </div>
      </div>
      <span class="col-auto clickable" (click)="createArticle()" [style.align-self]="'center'"><i class="fa fa-plus-square"></i> Öppis verzapfe</span>
    </div>

    <div *ngFor="let article of articles">
      <app-article-summary [article]="article"></app-article-summary>
    </div>
  </article>

  <aside class="col-4 p-2 classments">
    <div class="buenzli-helper-bar">
      <label class="text-muted text-small mr-2">Sortiere nach</label>
        <div class="abegumper">
          <span><i class="fa mr-1" [ngClass]="getIconClassForBuenzliSortingMethod(currentBuenzliSortingMethod)"></i>{{currentBuenzliSortingMethod}}</span>
          <div class="abegumper-content">
            <div class="abegumper-item" (click)="selectBuenzliSortingMethod(BuenzliSortingMethod.OVERALL)">
              <a><i class="fa fa-trophy"></i> Allgemein</a>
            </div>
            <div class="abegumper-item" (click)="selectBuenzliSortingMethod(BuenzliSortingMethod.ARTICLES)">
              <a><i class="fa fa-newspaper"></i> Nome artikel</a>
            </div>
            <div class="abegumper-item" (click)="selectBuenzliSortingMethod(BuenzliSortingMethod.COMMENTS)">
              <a><i class="fa fa-comment-dots"></i> Nome kommentaer</a>
            </div>
          </div>
        </div>
    </div>
    <div class="classment">
    <h5><i class="fa fa-fire mr-1"></i>Top buenzlis</h5>
      <ng-container *ngFor="let buenzli of buenzlis">
        <app-user-summary [user]="buenzli"></app-user-summary>
      </ng-container>
    </div>
    <hr>
    <div class="classment">
    <h5><i class="fa fa-poo mr-1"></i>Top halbschueh</h5>
      <ng-container *ngFor="let halbschueh of halbschueh">
        <app-user-summary [user]="halbschueh"></app-user-summary>
      </ng-container>
    </div>
  </aside>
</div>
