.helper-bar{
    background-color: ghostwhite;
    box-shadow: 2px 3px 2px #eee;
}
.abegumper {
    position: relative;
    display: inline-block;
    padding: 2px 10px;
    color: white;
    background-color: #0066CC;
    border-radius: 15px;
}

.abegumper-content {
display: none;
position: absolute;
background-color: ghostwhite;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.abegumper-item {
    padding: 10px;
    cursor: pointer;
}
.abegumper-item:hover{
    background-color: #eee;
}

.abegumper-item > a{
    text-decoration: none;
    color: #0066CC;
}

.abegumper:hover .abegumper-content {
    display: block;
}