
<div class="row container-fluid">
  <article class="col-8">
    <!-- filter/sortierig/biitrag erstelle -->
    <div class="container row m-2 p-2 helper-bar">
      <span class="col"><i class="fa fa-fire"></i> Laessigkeit</span>
      <span class="col"><i class="fa fa-sun"></i> Neus zueg</span>
      <span class="col"><i class="fa fa-poo"></i> Chabis</span>
      <span class="col-auto"><i class="fa fa-plus-square"></i> Artikel verfasse</span>
    </div>

    <div *ngFor="let article of articles">
      
    </div>
  </article>

  <aside class="col-4">
    <!-- gröschti halbschüeh etc components -->
    <h5>Hiera halbschueh</h5>
  </aside>
</div>


